<center>
<div style="border:solid; max-width:250px; margin: 1em">
  <h1 style="margin: 10px 0">New register</h1>

  <%= render "form", register: @register %>

  <div style="margin: 10px 0">
    <%= link_to "Back to registers", registers_path, class: 'btn btn-secondary' %>
  </div>
</center>